<div id="main" class="palm-hasheader">
  <div class="palm-header left">Cheque - Your Accounts</div>

  <div id="accountListContainer" class="palm-group">
    <div class="palm-group-title">
      <div class="title">
        <div class="accountLeft">Account Name</div>
        <div class="accountRightTitle">
          <span>Balance</span>
        </div>
      </div>
    </div>
    <div id="accountList" class="palm-list" x-mojo-element="List"></div>
  </div>

  <div id="firstTimeBox" class="palm-body-text">
    It looks like you don't have any accounts set up!
    <div id="newAccountButton" x-mojo-element="Button"></div>
  </div>

  <div id="totalLine">
    <div class="palm-body-text wrapper palm-row">
      <div class="floatLeft">All Accounts:</div>
      <div id="total" class="floatRight"></div>
    </div>
  </div>
  
</div>