#date .label {
  display: none; }

#accountList *, #entryList * {
  font-size: 16px; }

.accountLeft {
  float: left;
  width: 50%; }

.accountRight, .accountRightTitle {
  float: right;
  width: 50%;
  text-align: right; }

.entryLeft {
  float: left;
  width: 40%; }

.entryRight {
  float: right;
  width: 60%;
  text-align: right; }
  .entryRight span {
    width: 50%;
    display: block;
    float: right; }

.entryRightTitle {
  float: right;
  width: 60%;
  text-align: right; }
  .entryRightTitle div {
    width: 50%;
    display: block;
    float: left; }
    .entryRightTitle div span {
      padding-right: 10px; }
  .entryRightTitle div.last span {
    padding-right: 16px; }

.accountRightTitle span {
  margin-right: 16px; }
