<style type='text/css'>
body, div, li, p, td {
  font: 12px Verdana;
}
#transactionList {
  border-collapse: collapse;
}
#transactionList td {
  border-spacing: 0;
  text-align: right;
}
#transactionList th {
/*  font-weight: normal;*/
/*  text-align: left;*/
}
#transactionList .date {
  background-color: #fff;
  vertical-align: top;
}
#transactionList .even {
  -webkit-border-radius: 15px;
/*  background-color: #f9f9f9;*/
}
#transactionList .source {
  text-align: left;
}
#transactionList .credit {
  color: #595;
}
#transactionList .debit {
/*  color: red;*/
}
#transactionList th {
  font-size: 80%;
}
</style>
<h2>PNC Transactions</h2>
<h3>Current Balance: $4,248.34</h3>
<a href="add">Add</a> | <a href="filter">Filter</a>
<!-- <form><input value="Search"/></form> -->
<table id="transactionList" border="0" cellspacing="5" cellpadding="5">
  <!-- <tr><th>Subject</th><th class="time">Method</th><th>Amount</th><th>Balance</th></tr> -->
  <tr class="credit"><th>Today (July 9)</th><th colspan="2">+ 2153.48</th></tr>
  <tr class="transaction"><td class="source">McDonald's</td><td>- 20.00</td><td>4248.34</td></tr>
  <tr class="transaction even credit"><td class="source">RideCharge</td><td>+ 2173.48</td><td>4268.34</td></tr>
  <tr><th>Yesterday (July 8)</th><th colspan="2">- 159.22</th></tr>
  <tr class="transaction"><td class="source">Erotica, Inc.</td><td>- 89.97</td><td>2094.86</td></tr>
  <tr class="transaction even"><td class="source">Amazon.com</td><td>- 65.22</td><td>2184.83</td></tr>
  <tr class="transaction"><td class="source">Burger Bistro</td><td>- 4.03</td><td>2250.05</td></tr>
  <tr><th>Tuesday (July 7)</th><th colspan="2">- 122.60</th></tr>
  <tr class="transaction even"><td class="source">Bibles 'R Us</td><td>- 26.58</td><td>2254.08</td></tr>
  <tr class="transaction"><td class="source">GoDaddy</td><td>- 14.95</td><td>2280.66</td></tr>
  <tr class="transaction even credit"><td class="source">PNC</td><td>+ 200.00</td><td>2295.61</td></tr>
  <tr class="transaction"><td class="source">ScamCoInc, Ltd.</td><td>- 5.82</td><td>2095.61</td></tr>
  <tr class="transaction even"><td class="source">Prostitute</td><td>- 30.05</td><td>2101.43</td></tr>
</table>
<a href="">Previous Transactions</a>

<!-- <div>
  Current Balance: <span id="currentBalance">x.xx</span>
</div>

<div id="backButton" class="palm-button">
  Accounts List
</div> -->