<h2>Accounts Detail</h2>
<table id="transactionList" border="0" cellspacing="5" cellpadding="5">
  <tr><th>Subject</th><th>Debit</th><th>Credit</th><th>Balance</th></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
  <tr class="transaction"><td>Transaction</td><td>x.xx</td><td>&nbsp;</td><td>x.xx</td></tr>
</table>

<div>
  Current Balance: <span id="currentBalance">x.xx</span>
</div>

<div id="backButton" class="palm-button">
  Accounts List
</div>